
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>filterby</title>
</head>
<body>
    <div> 
        @{ 
            foreach(var i in ViewBag.movies) {
                <b>@i</b><br />
            }
        }
    </div>
</body>
</html>
